<h1>Admin page</h1>
<h2>{{message}}</h2>
<h2>Add Item</h2>
<form [formGroup]="addItem">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="string"  formControlName="Name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput type="number"  formControlName="Price">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Stock</mat-label>
        <input matInput type="number"  formControlName="Stock">
      </mat-form-field>
      <mat-form-field>
        <mat-label>DistributorId</mat-label>
        <input matInput type="string"  formControlName="distributorId">
      </mat-form-field>
      <button mat-button (click)="addNewItem()" color="primary">AddItem</button>
</form>
<hr>
<h2>Delete Item</h2>
<form [formGroup]="deleteItem">
    <mat-form-field>
        <mat-label>ItemId</mat-label>
        <input matInput type="string"  formControlName="Id">
      </mat-form-field>
     
      <button mat-button (click)="deleteItemById()" color="primary">DeleteItem</button>
</form>
<hr>
<h2>Add Ditributor</h2>
<form [formGroup]="addDistributor">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="string"  formControlName="Name">
      </mat-form-field>
     
      <button mat-button (click)="addNewDistributor()" color="primary">AddDistributor</button>
</form>
<hr>
<h2>Delete Distributor</h2>
<form [formGroup]="deleteDistributor">
    <mat-form-field>
        <mat-label>Id</mat-label>
        <input matInput type="string"  formControlName="Id">
      </mat-form-field>
     
      <button mat-button (click)="deleteDistributorById()" color="primary">DeleteDistributor</button>
</form>