<form [formGroup]="LoginFm">
<hr>
<mat-form-field >
    <mat-label>UserName</mat-label>
    <input matInput type="string"  formControlName="UserName">
    
  </mat-form-field>
<mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="Password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
 
</form>
<hr>
 <button mat-button (click)="login()" color="primary">Login</button>

  
  <button mat-button (click)="registerUser()" color="primary">RegisterUser</button>
  <button mat-button (click)="registerAdmin()" color="warn">RegisterAdmin</button>
  
  <hr>
  <div>{{message}}</div>